# Architecture
BR2_x86_64=y

# Toolchain
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_PIC_PIE=y
BR2_SSP_ALL=y
BR2_RELRO_FULL=y

# System
BR2_ROOTFS_MERGED_USR=y
BR2_TARGET_TZ_INFO=y
BR2_SYSTEM_ENABLE_NLS=y
BR2_TARGET_GENERIC_ISSUE="Welcome to Linux"
BR2_TARGET_GENERIC_HOSTNAME="linux"
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_EUDEV=y



# nls
BR2_PACKAGE_NCURSES_WCHAR=y

# rootfs
BR2_TARGET_ROOTFS_CPIO=y
BR2_TARGET_ROOTFS_CPIO_XZ=y
BR2_TARGET_ROOTFS_TAR_XZ=y
BR2_TARGET_ROOTFS_INITRAMFS=y
BR2_ROOTFS_POST_BUILD_SCRIPT="board/lenovo100schromebook/post-build.sh"

# Linux Kernel
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_XZ=y
BR2_LINUX_KERNEL_NEEDS_HOST_OPENSSL=y
BR2_LINUX_KERNEL_NEEDS_HOST_LIBELF=y
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="board/lenovo100schromebook/linux.config"

# Basic
BR2_PACKAGE_BUSYBOX_WATCHDOG=y
BR2_SYSTEM_BIN_SH_BASH=y
BR2_PACKAGE_KMOD_TOOLS=y

# Busybox
BR2_PACKAGE_BUSYBOX_SHOW_OTHERS=y
BR2_PACKAGE_BUSYBOX_CONFIG="board/lenovo100schromebook/busybox.config"

# SSL certs
BR2_PACKAGE_CA_CERTIFICATES=y

# Cache manager
BR2_PACKAGE_VMTOUCH=y

# Version Control
BR2_PACKAGE_GIT=y

# Filesystem
BR2_PACKAGE_BTRFS_PROGS=y
BR2_PACKAGE_DOSFSTOOLS=y
BR2_PACKAGE_DOSFSTOOLS_FATLABEL=y
BR2_PACKAGE_DOSFSTOOLS_FSCK_FAT=y
BR2_PACKAGE_DOSFSTOOLS_MKFS_FAT=y
BR2_PACKAGE_E2FSPROGS=y
BR2_PACKAGE_E2FSPROGS_E4DEFRAG=y
BR2_PACKAGE_E2FSPROGS_RESIZE2FS=y
BR2_PACKAGE_EXFAT=y
BR2_PACKAGE_EXFAT_UTILS=y
BR2_PACKAGE_EXFATPROGS=y
BR2_PACKAGE_F2FS_TOOLS=y
BR2_PACKAGE_NTFS_3G=y
BR2_PACKAGE_NTFS_3G_ENCRYPTED=y
BR2_PACKAGE_NTFS_3G_NTFSPROGS=y
BR2_PACKAGE_XFSPROGS=y

# Hardware Firmware
BR2_PACKAGE_LINUX_FIRMWARE=y
BR2_PACKAGE_LINUX_FIRMWARE_IWLWIFI_7260=y

# Disk crypto
BR2_PACKAGE_CRYPTSETUP=y

# Security
BR2_PACKAGE_WIPE=y
BR2_PACKAGE_LINUX_PAM=y
BR2_PACKAGE_HAVEGED=y
BR2_PACKAGE_ACL=y

# hardware
BR2_PACKAGE_USBUTILS=y
BR2_PACKAGE_PCIUTILS=y

# disk partition
BR2_PACKAGE_PARTED=y

# Downloader
BR2_PACKAGE_LIBCURL=y
BR2_PACKAGE_LIBCURL_CURL=y
BR2_PACKAGE_LIBCURL_VERBOSE=y

# linedit
BR2_PACKAGE_LIBEDIT=y
BR2_PACKAGE_READLINE=y

# Monitor
BR2_PACKAGE_BMON=y
BR2_PACKAGE_HTOP=y

# Time
BR2_PACKAGE_NTP=y
BR2_PACKAGE_NTP_NTPDATE=y

# Tor
BR2_PACKAGE_TOR=y

# sync
BR2_PACKAGE_RSYNC=y

# Web browser
BR2_PACKAGE_LINKS=y
BR2_PACKAGE_LYNX=y

# socks5 proxy 
BR2_PACKAGE_PROXYCHAINS_NG=y
BR2_PACKAGE_SHADOWSOCKS_LIBEV=y

# VPN
BR2_PACKAGE_WIREGUARD_TOOLS=y

# Network bandwith test
BR2_PACKAGE_IPERF3=y

# Wireless
BR2_PACKAGE_WIRELESS_REGDB=y
BR2_PACKAGE_WIRELESS_TOOLS=y
BR2_PACKAGE_WPA_SUPPLICANT=y
BR2_PACKAGE_WPA_SUPPLICANT_AP_SUPPORT=y
BR2_PACKAGE_WPA_SUPPLICANT_WIFI_DISPLAY=y
BR2_PACKAGE_WPA_SUPPLICANT_MESH_NETWORKING=y
BR2_PACKAGE_WPA_SUPPLICANT_AUTOSCAN=y
BR2_PACKAGE_WPA_SUPPLICANT_EAP=y
BR2_PACKAGE_WPA_SUPPLICANT_HOTSPOT=y
BR2_PACKAGE_WPA_SUPPLICANT_DEBUG_SYSLOG=y
BR2_PACKAGE_WPA_SUPPLICANT_WPS=y
BR2_PACKAGE_WPA_SUPPLICANT_WPA3=y
BR2_PACKAGE_WPA_SUPPLICANT_CLI=y
BR2_PACKAGE_WPA_SUPPLICANT_WPA_CLIENT_SO=y
BR2_PACKAGE_WPA_SUPPLICANT_PASSPHRASE=y
BR2_PACKAGE_WPA_SUPPLICANT_DBUS=y
BR2_PACKAGE_WPA_SUPPLICANT_DBUS_INTROSPECTION=y

# Network Manager
BR2_PACKAGE_IPROUTE2=y

# Firewall
BR2_PACKAGE_NFTABLES=y

# ssh
BR2_PACKAGE_OPENSSH=y


# Scan file type
BR2_PACKAGE_FILE=y

# GPG
BR2_PACKAGE_GNUPG2=y
BR2_PACKAGE_GNUPG2_GPGV=y
BR2_PACKAGE_PINENTRY=y

# Terminal multiplexes
BR2_PACKAGE_SCREEN=y
BR2_PACKAGE_TMUX=y

# Password
BR2_PACKAGE_PWGEN=y

# Text Editor
BR2_PACKAGE_NANO=y
BR2_PACKAGE_VIM=y

# bootloader
BR2_TARGET_GRUB2=y
BR2_TARGET_GRUB2_X86_64_EFI=y
BR2_TARGET_GRUB2_BUILTIN_MODULES="boot linux ext2 fat btrfs part_msdos part_gpt normal efi_gop luks crypto cryptodisk"


# Terminal
BR2_PACKAGE_KMSCON=y


# Fonts
BR2_PACKAGE_UNIFONT=y