BR2_arm=y
BR2_cortex_a53=y
BR2_ARM_FPU_NEON_VFPV4=y

BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_3_10=y

BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_TARBALL=y
BR2_LINUX_KERNEL_CUSTOM_TARBALL_LOCATION="$(call github,LineageOS,android_kernel_wingtech_msm8916,beb5692ed25808aebce7b57e318cf8bd33e645d8)/linux-beb5692ed25808aebce7b57e318cf8bd33e645d8.tar.gz"

BR2_LINUX_KERNEL_DEFCONFIG="lineageos_wt88047"

# Build the DTB from the kernel sources
BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_INTREE_DTS_NAME="msm8916-wt88047"

BR2_LINUX_KERNEL_NEEDS_HOST_OPENSSL=y
